
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section>
    <div class="row">
        <div class="signin-form">
            <form action="Verify" method="post">
                    <h2>Login</h2>
                    <p class="hint-text">Login to your existing account & start taking quiz!</p>

                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                    </div>
                </form>
        </div>
    </div>
</section>

