@model List<QuizAppASP.Models.Account>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="wrapper">
    <h1>Registered Users</h1>

    <table class="tableCenter">
        <thead>
            <tr>
                <th><span>First Name</span></th>
                <th><span>Last Name</span></th>
                <th><span>Email</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div> 