
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section>
    <div class="row">
        <div id="about-element">
            <div class="col span-1-of-3">
                <img src="~/resources/img/moiz.jpg" alt="Abdul Moiz">
                <a href="https://www.linkedin.com/in/abdulmoiz99/">Abdul Moiz</a>
                <p>Level Two Seller At Fiverr</p>
            </div>
            <div class="col span-1-of-3">
                <img src="~/resources/img/shaarif.jpg" alt="Muhammad Shaarif Shahid">
                <a href="https://www.linkedin.com/in/muhammad-shaarif-shahid-4991b7192/">Muhammad Shaarif Shahid</a>
                <p>Front End Web-Developer (React.js) | Amazon Virtual Assistant</p>
                <div id="btn-down">
                    <a href="#jibran" class="closebtn" onclick="jump()">&#8595;</a>
                </div>
            </div>
            <div class="col span-1-of-3">
                <img src="~/resources/img/naqqash.jpg" alt="Naqqash Khan">
                <a href="https://www.linkedin.com/in/naqqash-khan-063a51191/">Naqqash Khan</a>
                <p>.NET Developer | Freelancer</p>
            </div>
        </div>
        <div id="teacher">
            <div class="col span-2-of-3">
                <h6>Supervised by</h6>
                <h3 id="jibran">Jibran Rasheed Khan</h3>
                <p>Teaching Associate at Department of Computer Science - UBIT, and Visiting Lecturer at Department of Mathematics, University of Karachi</p>
            </div>
            <div class="col span-1-of-3">
                <img src="~/resources/img/teacher.jpg" alt="Sir Jibran">
            </div>
            <a id="connect" href="https://www.linkedin.com/in/mr-jib-2570257/">+ Connect on Linkedin</a>
        </div>
    </div>
</section>

