
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<section>
    <div class="row">
        <p class="quiz_heading"><b>QUIZ TIME</b></p>
    </div>
    <div class="btnrow">
        <a id="homepage-btn" href="@Url.Action("Dashboard", "Dashboard")">Dashboard</a>
        <a id="homepage-btn" href="#">Create Quiz</a>
        <a id="homepage-btn" href="@Url.Action("Join", "Quiz")">Join Quiz</a>
    </div>
</section>