
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section>
    <div class="row">
        <p class="quiz_heading"><b>QUIZ TIME</b></p>
    </div>
    <div class="btnrow">
        <a id="homepage-btn" href="dashboard.html">Dashboard</a>
        <a id="homepage-btn" href="#">Create Quiz</a>
        <a id="homepage-btn" href="joinquiz.html">Join Quiz</a>
    </div>
</section>