
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section>
    <div class="row">
        <h1>The free quiz maker for<br>testing students and staff</h1>
        <p>An awesome web application to create & manage online quizzes, tests & exams on your website or server.</p>
        <a id="started" href="@Url.Action("Login", "Account")">Get Started!</a>
    </div>
</section>