
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section>
    <div class="row">
        <h2 id="created_heading">Created</h2>
        <div class="quiz_container">
            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="responses.html" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>
            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>

            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>
            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 id="created_heading">Attempted</h2>
        <div class="quiz_container">
            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>
            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>

            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>
            <div class="quiz_created">
                <h2 id="quiz_heading">Shaarif Quiz</h2>
                <p><small id="quiz_code"> Code : 60dhsj5016ulvdhvd</small></p>
                <br /><br />
                <hr />
                <a href="#" class="quiz_response">Responses: 0</a>
                <a href="" id="quiz_question_id">Question: 1</a>
                <a href="" id="quiz_question_edit">Edit</a>
            </div>
        </div>
    </div>
</section>
